<%= form_for @volunteer do | f | %>
<div class="form-inline">
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
</div>

<div class="form-inline">
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
</div>

<div class="form-inline">
    <%= f.label :email %>
    <%= f.text_field :email %>
</div>

<div class="form-inline">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
</div>

<div class="form-inline">
  <%= f.label :notes %>
  <%= f.text_area :notes %>
</div>

  <div class="custom-controls-stacked">
    <legend>Assignment</legend>
    <label class="custom-control custom-radio">
      <%= f.radio_button :leader_type, :Group, class: "custom-control-input" %>
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">Class</span>
    </label>
    <label class="custom-control custom-radio">
      <%= f.radio_button :leader_type, :Location, class: "custom-control-input" %>
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">Station</span>
    </label>
    <label class="custom-control custom-radio">
      <%= f.radio_button :leader_type, :none, class: "custom-control-input" %>
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">Unassigned</span>
    </label>
</div>
<div class="form-group">
  <%= f.collection_select :leader_id, Group.sort_by_grade.sort_by_name.all, :id, :name_grade, {prompt: 'Select assignment', include_blank: 'Unassigned'}, class: "custom-select"%>
  </div>
<%= f.submit "Save", date: {"disable-with": "Saving..."}, class: "btn btn-primary" %>
<% end %>
