<div class="container w-100">
  
   <div class="row justify-content-center">
    <div class="col">
      <h1>Volunteers</h1>
    </div>
    <div class="col-6">
      <%= form_tag(volunteers_path, method: :get, class: "input-group") do %>
      <%= text_field_tag :term, params[:term], placeholder: "Search for...", class: "form-control" %>
      <span class="input-group-btn">
        <%= button_tag 'Search', class: "btn btn-secondary" %>
      </span>
      <% end %>
    </div>
   </div>
   <div class="row">
     <div class="col-sm-3">
       <h5>Total Volunteers: <strong><%= @volunteers.count %></strong></h5>
       </div>
   </div>
  
  <div class="row justify-content-center mt-4">
    
    <div class="col-lg-12 mb-3 ml-4">
      <a class="btn btn-primary btn-sm" href="<%= new_volunteer_path %>">Add New</a>
      <a class="btn btn-outline btn-sm" href="<% %>">Print</a>
    </div>
    <div class="col-xl-12">
      <table class="table table-sm table-hover">
	<thead>
	  <tr>
	    <th></th>
	    <th>Name</th>
	    <th>Assignment</th>
	    <th>Notes</th> <!-- this is for the notes icon which will have a pop over on hover -->
	    <th>Phone</th>
	    <th>Email</th>
	    <th></th> <!-- Column for edit link -->
	  </tr>
	</thead>
	
	<tbody>
	  <% @volunteers.sort_by_last_name.each do |volunteer| %>
	  <tr>
	    <td></td>
	    <td onclick="window.location='<%= volunteer_path(volunteer)%>';" style='cursor: pointer;'><%= "#{volunteer.first_name} #{volunteer.last_name}" %></td>
	    <% if volunteer.leader_type == "Group" %>
	      <% if volunteer.leader_id == nil %>
	      <td>Class</td>
	      <% else %>
	      <td><%= "#{volunteer.leader.name_grade}" %></td>
	      <% end %>
	    <% elsif volunteer.leader_type == "Location" %>
	      <% if volunteer.leader_id == nil %>
	      <td>Station</td>
	      <% else %>
	      <td><%= "#{volunteer.leader.name}" %></td>
	      <% end %>
	      <% elsif volunteer.leader_type == "Team" %>
	      <% if volunteer.leader_id == nil %>
	      <td>Station</td>
	      <% else %>
	      <td><%= "#{volunteer.leader.name}" %></td>
	      <% end %>
	    <% elsif volunteer.leader_type == "none" %>
	    <td>--</td>
	    <% end %>
	    <td></td>
	    <td><%= "#{volunteer.phone}" %></td>
	    <td><%= "#{volunteer.email}" %></td>
	    <td><%= link_to "Edit", edit_volunteer_path(volunteer) %></td>
	  </tr>
	  <% end %>
	</tbody>
      </table>
    </div>
  </div>
  
</div>

