<hr>
<h3>Child Info</h3>
<hr>
<div class="form-group row">
  <label class="col-sm-3 text-sm-right col-form-label">Name</label>
  <div class="col-sm-4">
    <%= f.text_field :first_name, class: "form-control" %>
    <small class="form-text text-muted">First Name</small>
  </div>
  <div class="col-sm-4">
    <%= f.text_field :last_name, class: "form-control" %>
    <small class="form-text text-muted">Last Name</small>
  </div>
</div>

<div class="form-group row">
  <!-- <label class="col-sm-2 text-sm-right col-form-label">Gender</label> -->
  <div class="col-sm-8 offset-md-3">
    <label class="custom-control custom-radio">
      <%= f.radio_button :gender, :male, class: "custom-control-input" %>
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">Male</span>
    </label>
    <label class="custom-control custom-radio">
      <%= f.radio_button :gender, :female, class: "custom-control-input" %>
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">Female</span>
    </label>
  </div>
</div>

<div class="form-group row">
  <label class="col-md-3 text-sm-right col-form-label">Birthday</label>
  <div class="col-sm-8">
    <%= f.date_select :birthdate, { :start_year => 2004, :end_year => 2017, :prompt => { day: 'Day', month: 'Month', year: 'Year' }, :use_short_month => true, :order => [:day, :month, :year]}, class: "custom-select" %>
  </div>
</div>

<div class="form-group row">
  <label class="col-md-3 text-sm-right col-form-label">Last Grade Completed</label>
  <div class="col-sm-8">
    <%= f.select :last_grade_id, grade_types.map.with_index{ |s, i| [s, i]}, {}, {class: "custom-select"}  %>
  </div>
</div>

<div class="form-group row">
  <div class="col-sm-3 offset-md-3">
    <label class="custom-control custom-checkbox">
      <%= f.check_box :church_member, class: "custom-control-input" %>
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">Regular Attendee</span>
    </label>
  </div>
</div>

<div class="form-group row">
  <label class="col-sm-3 text-sm-right col-form-label">Invited By</label>
  <div class="col-sm-8 ">
    <%= f.text_field :invited_by, class: "form-control" %>
    <small class="form-text text-muted">If you were invited by a member of Brushy Creek please give their name.</small>
  </div>
</div>

<div class="form-group row">
  <label class="col-sm-3 text-sm-right col-form-label">Class Buddy</label>
  <div class="col-sm-8">
    <%= f.text_field :buddy_request, class: "form-control" %>
    <small class="form-text text-muted">If you would like your child to be in a class woth a specific friend please give their name and we make every effort to place them together..</small>
  </div>
</div>

<div class="form-group row">
  <div class="col-sm-8 offset-md-3">
    <label class="custom-control custom-checkbox">
      <%= f.check_box :can_photograph, checked: true, class: "custom-control-input" %>
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">Can be photographed</span>
    </label>
    <small class="form-text text-muted">Is your child allowed to be inclueded in photographs or videos relating to VBS.</small>
  </div>
</div>

<div class="form-group row">
  <div class="col-sm-8 offset-md-3">
    <label class="custom-control custom-checkbox">
      <%= f.check_box :allergies, class: "custom-control-input" %>
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">Allergies</span>
    </label>
  </div>
  <div class="col-sm-8 offset-md-3">
    <%= f.text_area :allergies_notes, placeholder: "Alergies, Epipen, etc.",  class: "form-control"%>
  </div>
</div>

<div class="form-group row">
  <div class="col-sm-6 offset-md-3">
    <label class="custom-control custom-checkbox">
      <%= f.check_box :medical_issues, class: "custom-control-input" %>
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">Other Medical Issues</span>
    </label>
  </div>
  <div class="col-sm-8 offset-md-3">
    <%= f.text_area :medical_issues_notes, placeholder: "Bloody Noses, etc.",  class: "form-control"%>
  </div>
</div>

<hr>
<h3>Parent/Guardian Info</h3>
<hr>

<div class="form-group row">
  <label class="col-sm-3 text-sm-right col-form-label">Name</label>
  <div class="col-sm-8">
    <%= f.text_field :parent_name, class: "form-control" %>
  </div>
</div>

<div class="form-group row">
  <label class="col-sm-3 text-sm-right col-form-label">Email</label>
  <div class="col-sm-8">
    <%= f.text_field :parent_email,type: "eamil", class: "form-control" %>
  </div>
</div>

<div class="form-group row">
  <label class="col-sm-3 text-sm-right col-form-label">Phone Number</label>
  <div class="col-sm-8">
    <%= f.text_field :parent_phone, type: "tel", class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <label class="col-sm-3 text-sm-right col-form-label">Address</label>
    <div class="col-sm-8">
      <%= f.text_field :address, class: "form-control" %>
      <small class="form-text text-muted">Street</small>
    </div>
  </div>
  <div class="row">
    <div class="col-3 offset-md-3">
      <%= f.text_field :city, class: "form-control" %>
      <small class="form-text text-muted">City</small>
    </div>
    <div class="col-2">
      <%= f.select :state, CS.states(:us),{}, class: "custom-select w-100"%>
      <small class="form-text text-muted">State</small>
    </div>
    <div class="col-3">
      <%= f.text_field :zipcode, class: "form-control" %>
      <small class="form-text text-muted">Zipcode</small>
    </div>
  </div>
</div>

<hr>
<h3>Pickup/Emergency Contacts</h3>
<p>Additonal people we can contact in an emergency. They are also authorized to sign your child out.</p>
<hr>

<div class="form-group row">
  <label class="col-sm-3 text-sm-right col-form-label">Contact 1</label>
  <div class="col-sm-4">
    <%= f.text_field :pickupper_1_name, class: "form-control" %>
    <small class="from-text text-muted">Name</small>
  </div>
  <div class="col-sm-4">
    <%= f.text_field :pickupper_1_phone, type: "tel", class: "form-control" %>
    <small class="from-text text-muted">Phone Number</small>
  </div>
</div>

<div class="form-group row">
  <label class="col-sm-3 text-sm-right col-form-label">Contact 2</label>
  <div class="col-sm-4">
    <%= f.text_field :pickupper_2_name, class: "form-control" %>
    <small class="from-text text-muted">Name</small>
  </div>
  <div class="col-sm-4">
    <%= f.text_field :pickupper_2_phone, type: "tel", class: "form-control" %>
    <small class="from-text text-muted">Phone Number</small>
  </div>
</div>

<div class="form-group row">
  <label class="col-sm-3 text-sm-right col-form-label">Contact 3</label>
  <div class="col-sm-4">
    <%= f.text_field :pickupper_3_name, class: "form-control" %>
    <small class="from-text text-muted">Name</small>
  </div>
  <div class="col-sm-4">
    <%= f.text_field :pickupper_3_phone, type: "tel", class: "form-control" %>
    <small class="from-text text-muted">Phone Number</small>
  </div>
</div>

<% if edit == 1 %>
<div id="admin-kid-form" class="jumbotron">
  <div class="container">
    <hr>
    <h3>Admin Only</h3>
    <hr>

    <div class="form-group row">
      <div class="col-sm-8 offset-md-3">
	<label class="custom-control custom-checkbox">
	  <%= f.check_box :highlight, class: "custom-control-input" %>
	  <span class="custom-control-indicator"></span>
	  <span class="custom-control-description">Highlight</span>
	</label>
	<small class="form-text text-muted">Add a highlight when the kid is displayed on other pages</small>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 text-sm-right col-form-label">Notes</label>
      <div class="col-sm-8">
	<%= f.text_area :notes, class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 text-sm-right col-form-label">Assign to class</label>
      <div class="col-sm-8">
	<%= f.collection_select :group_id, Group.sort_by_grade.sort_by_name.all, :id, :name_grade, {include_blank: 'Unassigned'}, class: "custom-select"%>
      </div>
    </div>
  </div>
</div>
<% end %>
