<div class="jumbotron">
  <h1>Thank you for registering for <strong>Under Contruction</strong>!</h1>
  <br>
   <%= link_to "The registration volunteer will help you complete the process. ", edit_kid_path(@kid) %>
</div>
      
