<%= content_for :title do %>
Edit <%= @kid.first_name %>'s Registration
<% end %>

<div class="container">
  <%= render partial: "errors", locals: {kid: @kid} %>
  <%= form_for @kid do |f| %>
  <%= render partial: "kid_form", locals: {kid: @kid, edit: 1, f: f} %>
  <br>
  <div class="row">
    <div class="col-sm-6 offset-3">
      <%= f.submit "Save", data: {"disable_with":"Saving..."}, class: "btn btn-primary"%>
    </div>
  </div>
  <% end %>
</div>
