<% content_for :title do %>
Kids Inbox
<% end %>

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col">
	<a class="btn btn-secondary btn-lg btn-block" href="<%= register_new_kid_path %>" >New In-Person Registration</a>
      </div>
    </div>
  </div>
</div>

<div class="container w-100">
  
  <div class="row justify-content-center">
    <div class="col">
      <h1>Registrations</h1>
    </div>
    <div class="col-6">
      <%= form_tag(kids_path, method: :get, class: "input-group") do %>
      <%= text_field_tag :term, params[:term], placeholder: "Search for...", class: "form-control" %>
      <span class="input-group-btn">
        <%= button_tag 'Search', class: "btn btn-secondary" %>
      </span>
      <% end %>
    </div>
  </div>
     <div class="row">
     <div class="col-sm-3">
       <h5>Total Kids: <strong><%= @kids.count %></strong></h5>
       <h5>Regualar Attendees: <strong><%= @kids.where(church_member: true).count %></strong></h5>
       <h5>Guest: <strong><%= @kids.where(church_member: false).count %></strong></h5>
       </div>
   </div>
  
  <div class="row justify-content-center mt-4">
    
    <div class="col-lg-12 mb-3 ml-4">
      <a class="btn btn-primary btn-sm" href="<%= new_kid_path %>">Add New</a>
      <a class="btn btn-secondary btn-sm" href="<%= print_all_kids_kids_path(format: :pdf)  %>">Print Visitors</a>
      |
      <div class="btn-group">
	<%= link_to "Pre-k", kids_path(grade: "0"), type: "button", class: "btn btn-outline-primary btn-sm" %>
	<%= link_to "4k", kids_path(grade: "1"), type: "button", class: "btn btn-outline-primary btn-sm" %>
	<%= link_to "5k", kids_path(grade: "2"), type: "button", class: "btn btn-outline-primary btn-sm" %>
	<%= link_to "1st", kids_path(grade: "3"), type: "button", class: "btn btn-outline-primary btn-sm" %>
	<%= link_to "2nd", kids_path(grade: "4"), type: "button", class: "btn btn-outline-primary btn-sm" %>
	<%= link_to "3rd", kids_path(grade: "5"), type: "button", class: "btn btn-outline-primary btn-sm" %>
	<%= link_to "4th", kids_path(grade: "6"), type: "button", class: "btn btn-outline-primary btn-sm" %>
	<%= link_to "5th", kids_path(grade: "7"), type: "button", class: "btn btn-outline-primary btn-sm" %>
	<%= link_to "6th", kids_path(grade: "8"), type: "button", class: "btn btn-outline-primary btn-sm" %>
      </div>
      </div>
    <div class="col-xl-12">
      <table class="table table-sm table-hover">
	<thead>
	  <tr>
	    <th></th>
	    <th>Name</th>
	    <th>Age</th>
	    <th>Grade</th> <!-- this will deisplay the grade the kid will be going to next year -->
	    <th>Class</th>
	    <th>Notes</th> <!-- this is for the notes icon which will have a pop over on hover -->
	    <th>Medical</th> <!-- this is for the meidal alerts icons -->
	    <th></th>
	  </tr>
	</thead>
	
	<tbody>
	  <% @kids.sort_by_last_name.each do |kid| %>
	  <% if kid.highlight %>	
	  <tr class="table-warning">
	  <% else %>
	  <tr>
	  <% end %>
	  <td class="text-right">
	    <% unless kid.can_photograph %>
	      <i class="fa fa-camera text-danger"></i>
	    <% end %>
	  </td>
	  <td onclick="window.location='<%= kid_path(kid)%>';" style='cursor: pointer;'><%= "#{kid.first_name} #{kid.last_name}" %>
	    <% unless kid.buddy_request.empty? %>
	    <i class="fa fa-user-circle-o" aria-hidden="true"></i>
	    <% end %>
	  </td>
	    <td><%= find_age(kid.birthdate) %></td>
	    <td><%= kid.grade %></td>
	    <td>
	      <% if kid.group.present? %>
	      <%= kid.group.name %>
	      <% else %>
	      --
	      <% end %>
	    </td>
	    <td>
	      <% if kid.notes.present? %>
	      <a tabindex="0" data-toggle="popover" data-trigger="focus"  data-content="<%= kid.notes %>">
		<i class="fa fa-comment" aria-hidden="true"></i>
	      </a>
	      <% end %>
	    </td>
	    <td>
	      <% if kid.allergies %>
	      <span class="badge badge-warning">Allergies</span>
	      <% end %>
	      <% if kid.medical_issues %>
	      <span class="badge badge-info">Other</span>
	      <% else %>
	      <% end %>
	    </td>
    </div>
    <td><%= link_to "Edit", edit_kid_path(kid) %></td>
    </tr>
    <% end %>
    </tbody>
    </table>
    </div>
  </div>
  
</div>
