<% content_for :title do %>
New Registration
<% end %>

<div class="container">
  <h1>Register New Child </h1>
  <%= render partial: "errors", locals: {kid: @kid} %>
  <%= form_for @kid do |f| %>
  <%= render partial: "kid_form", locals: {kid: @kid, f: f, edit: 1} %>
  <br>
  <div class="row">
    <div class="col-sm-6 offset-md-3">
      <%= f.submit "Register", data: {"diable-with":"Saving..."}, class: "btn btn-primary"%>
    </div>
  </div>
  <% end %>

