<% content_for :title do %>
Register Child
<% end %>
<div class="container">
  <h1>Register New Child</h1>
  <%= render partial: "errors", locals: {kid: @kid} %>
  <%= form_for @kid do |f| %>
  <%= render partial: "kid_form", locals: {kid: @kid, f: f, edit: 0} %>
  <br>
  <%= f.submit "Register",  class: "btn btn-primary"%>
  <% end %>
</div>
