<% content_for :title do %>
Register Child
<% end %>

<div class="container w-75 bg-faded">
  <h1>Register New Child</h1>
  <%= render partial: "errors", locals: {kid: @kid} %>
  <%= form_for @kid, url: confirm_kids_path do |f| %>
  <%= render partial: "kid_form", locals: {kid: @kid, f: f, edit: 0} %>
  <br>
    <div class="row">
    <div class="col-sm-6 offset-3">
      <%= f.submit "Register", data: {"disable-with":"Saving..."}, class: "btn btn-primary"%>
    </div>
  </div>
  <% end %>
</div>
