<div class="container-fluid w-75">
  <div>
    <%= @family.head.full_name %>
  </div>
  <% @family.kids.each do | kid | %>
    <div class="py-3">
      <%= kid.full_name %>
    </div>
  <% end %>
</div>
