<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='content-type' />
  </head>
  <body>
    <h3>Thank you for registering!</h3
    <p> We look forward to seeing you for our first night on June 10<sup>th</sup> at 6pm!</p>
  </body>
    
