<div class = "container w-100">
  <h1>Classes</h1>
  
  <div class="row mt-4">
    <div class="col-lg-12 mb-3">
      <a class="btn btn-primary btn-sm" href="<%= new_group_path %>">Add New</a>
    </div>
  </div>
  <hr>
  <br>
  <div class=" bg-faded fixed-bottom h-25 px-2">
    <h4>Unassigned Kids</h4>
    <div class="h-100" style="overflow:scroll;">
      <%= render partial: "unassigned_kid", locals: {kids: @unassigned_kids} %>
      <br>
    </div>
  </div>
  <div id="groups-div" class="row">
    <% @groups.sort_by_grade.sort_by_name.each do | group | %>
      <%= render partial: "group_index_card", locals: {group: group} %>
    <% end %>
  </div>
  <div id="buffer" class="w-100 h-25">
    hello
  </div>
</div>
  
