<div class="container w-100" style="">
  <h1>Classes</h1>
  
  <div class="row mt-4">
    <div class="col-lg-3 mb-3">
      <a class="btn btn-primary btn-sm" href="<%= new_group_path %>">Add New</a>
      <a class="btn btn-secondary btn-sm" href="<%= groups_path(format: :xls)  %>">Excel</a>
      <a class="btn btn-secondary btn-sm" href="<%= print_sign_outs_groups_path(format: :pdf)  %>">Sign-out Sheets</a>
    </div>
  </div>
  <hr>
  <br>
  <div class="w-75 float-left" stlye="height: 80vh; overflow: scroll;">
    <div id="groups-div" class="row">
      <% @groups.sort_by_grade.sort_by_name.each do | group | %>
      <%= render partial: "group_index_card", locals: {group: group} %>
      <% end %>
    </div>
  </div>
  <div class="w-25" style="height: 80vh; right:0; overflow: scroll; position: fixed;">
    <div class=" bg-faded">
      <h4>Unassigned</h4>
      <ul class="nav nav-tabs" role="tablist">
	<li class="nav-item">
	  <a class="nav-link active" data-toggle="tab" href="#kids-div" role="tab">Kids</a>
	</li>
	<li class="nav-item">
	  <a class="nav-link" data-toggle="tab" href="#teachers-div" role="tab">Teachers</a>
	</li>
      </ul>
      <div class="h-100 tab-content">
	<%= render partial: "unassigned_kid", locals: {kids: @unassigned_kids} %>
	<%= render partial: "unassigned_teachers" %>
	<br>
      </div>
    </div>
  </div>
</div>


