<div class="container h-100 w-100" style="overflow: hidden;">
  <h1>Classes</h1>
  
  <div class="row mt-4">
    <div class="col-lg-12 mb-3">
      <a class="btn btn-primary btn-sm" href="<%= new_group_path %>">Add New</a>
    </div>
  </div>
  <hr>
  <br>
  <div class="row">
    <div class="col-9 h-100" style="overflow:auto; box-sizing:border-box;">
      <div id="groups-div" class="row">
	<% @groups.sort_by_grade.sort_by_name.each do | group | %>
	<%= render partial: "group_index_card", locals: {group: group} %>
	<% end %>
      </div>
    </div>
    <div class="col-3 h-100" style="overflow:auto; box-sizing:border-box;">
      <div class=" bg-faded">
	<h4>Unassigned Kids</h4>
	<div class="h-100" style="">
	  <%= render partial: "unassigned_kid", locals: {kids: @unassigned_kids} %>
	  <br>
	</div>
      </div>
    </div>
  </div>
  <div id="buffer" class="w-100 h-25">
    hello
  </div>
</div>
  
