<div class="form-group">
  <%= f.label :email, class: "form-control-label"%>
  <%= f.email_field :email, autofocus: true, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :name, class: "form-control-label"%>
  <%= f.text_field :name, class: "form-control" %>
</div>  

<div class="form-group">
  <%= f.label :password, class: "form-control-label" %>
  <% if @minimum_password_length %>
  <em>(<%= @minimum_password_length %> characters minimum)</em>
  <% end %>
  <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
</div>

<div class="field">
  <%= f.label :password_confirmation, class: "form-control-label" %>
  <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
</div>

<div class="form-group row">
  <label class="custom-control custom-checkbox">
    <%= f.check_box :admin, class: "custom-control-input" %>
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">Admin</span>
  </label>
</div>
