<div class="container">
  <h1>New User</h1>
  <%= form_for @user do |f| %>
  <%= render partial: "form", locals: {f:f} %>
  <br>
  <div class="actions">
    <div class="col-sm-6 offest-3">
      <%= f.submit "Sign up" %>
    </div>
  </div>
  <% end %>
</div>
