<% if object.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <% if object.errors.count > 1 %>
      <strong>Several issues were found.</strong> Please correct the hightlighted fields and resubmit.
    <% else %>
      <strong>An issue was found.</strong> Please correct the hightlighted field and resubmit.
    <% end %>
    <!-- <hr class="my-3"> -->
    <%#= object.errors.details %>
  </div>
<% end %>
