<% content_for :page_style do %>
  <%= stylesheet_link_tag 'info', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<body class="text-center">
  <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
    </header>

    <main role="main" class="inner cover">
      <div class="image-block mb-5">
	<%= image_tag 'TTW-logo.png', class: 'w-100' %>
      </div>
      <h2>June 9-12 | 6-8:30pm</h2>
      <h3> 4 year olds through rising 6th graders </h3>
      <div class="row">
	<div class="col-md mt-3">
	  In-person registration will open at 5:20pm, Sunday June 9th.
	</div>
      </div>
    </main>

    <footer class="mastfoot mt-auto">
      <div class="inner">
	<%= link_to "Brushy Creek Baptist Church", "https://brushycreekchurch.com" %>
      </div>
    </footer> 
  </div>
</body>

