<h1>Log in</h1>
<hr />
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<div class="form-group row">
  <label class="col-sm-3 text-sm-right col-form-label">Email</label>
  <div class="col">
    <%= f.email_field :email, autofocus: true,class: "form-control" %>
  </div>
</div>

<div class="form-group row">
  <label class="col-sm-3 text-sm-right col-form-label">Password</label>
  <div class="col">
    <%= f.password_field :password, autocomplete: "off",class: "form-control" %>
  </div>
</div>

<% if devise_mapping.rememberable? -%>
<div class="form-group row">
  <div class="col-sm-9 offset-3">
    <label class="custom-control custom-checkbox">
      <%= f.check_box :remember_me, class: "custom-control-input" %>
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">Remeber Me</span>
    </label>
    </div>
</div>
<% end %>

<div class="row">
  <div class="col-sm-9 offset-3">
    <%= f.submit "Log in", class: "btn btn-primary" %>
  </div>
</div>
<% end %>
<div class="row">
  <div class="col offset-3">
    <%= render "devise/shared/links" %>
  </div>
</div>


