<div class="container w-100">
  <h1>Stations</h1>
  
  <div class="row mt-4">
    <div class="col-lg-3 mb-3">
      <a class="btn btn-primary btn-sm" href="<%= new_location_path %>">Add New</a>
    </div>
  </div>
  <hr>
  <br>
  <div class="w-75 float-left" stlye="height: 80vh; overflow: scroll;">
    <div id="locations-div" class="row">
      <% @locations.sort_by_name.each do | location | %>
      <%= render partial: "location_index_card", locals: {location: location} %>
      <% end %>
    </div>
  </div>
  <div class="w-25" style="height: 80vh; right:0; overflow: scroll; position: fixed;">
    <div class=" bg-faded">
      <h4>Unassigned Leaders</h4>
      <div class="h-100">
	<%= render partial: "unassigned_leaders" %>
	<br>
      </div>
    </div>
  </div>
</div>

