 <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand text-white">VBS Registration</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
	<ul class="navbar-nav mr-auto">
	  <li class="nav-item">
	    <%= link_to "Kids", kids_path, class: "nav-link" %>
	  </li>
	  <li class="nav-item">
            <%= link_to "Classes", groups_path, class: "nav-link" %>
	  </li>
	  <li class="nav-item">
            <a class="nav-link" href="#">Schedule/Stations</a>
	  </li>
	  <li class="nav-item">
	    <%= link_to "Volunteers", volunteers_path, class: "nav-link" %>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">Dashboard</a>
	  </li>
	  <li class="nav-item dropdown">
	    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	      Admin
	    </a>
	    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Edit Users</a>
              <a class="dropdown-item" href="#">Something Else</a>
              <a class="dropdown-item" href="#">Log Out</a>
	    </div>
	</ul>
      </div>
    </nav>
