<!DOCTYPE html>
<html lang="en" style="">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller_name %><%= action_name %>" style="">
    <%= render "layouts/header" %>
    <%= render partial: "layouts/flash_messages", locals: {flash: flash} %>
    <%= yield %>
  </body>
</html>
